<%- include('../partials/header.ejs'); -%>

<div class="container">
    <h3>Admin Panel</h3>
    Welcome back <%= admin %> <br>
    <a class="btn btn-primary" href="/view_users">View Users</a>
    <a class="btn btn-primary" href="/message">Send Message</a>
    <a class="btn btn-primary" href="/view_message">View Message</a>
</div>

<%- include('../partials/footer.ejs'); -%>