<%- include('../partials/header.ejs'); -%>

<div class="container">
    <h3>You Canceled Payment</h3>
    <a cas="btn btn-primary" href="/register">Go Back</a>
</div>

<%- include('../partials/footer.ejs'); -%>