<%- include('../partials/header.ejs'); -%>

<div align="center">
    <div class="card" style="width: 50%; border: none; margin-top: 150px;">
        <a href="/register" class="btn btn-dark">Register as an Ambassador</a> <br>
        OR <br> <br>
        <a href="/login" class="btn btn-dark">Login as an Ambassador</a>
    </div>
</div>

<%- include('../partials/footer.ejs'); -%>