<%- include('../partials/header.ejs'); -%>

<div class="container">
    <h3>No such User</h3>
    <a cas="btn btn-primary" href="/register">Register</a>
</div>

<%- include('../partials/footer.ejs'); -%>