<%- include('../partials/header.ejs'); -%>

<div class="container">
    <h3>You are now an Ambassador</h3>
    <a cas="btn btn-primary" href="/login">Login</a>
</div>

<%- include('../partials/footer.ejs'); -%>